<div class="col g-1 offset-md-4">    
    <button type="button" class="btn btn-primary"
            hx-get="{{ url_fixtures }} "
            hx-trigger="click" 
            hx-target="#main-fixture"
            data-bs-toggle="modal"
            data-bs-target="#schedule">
        <i class="fa-regular fa-calendar"></i>
    </button>    
    <button type="button" class="btn btn-primary"
            hx-get="{{ url_standings }}"
            hx-trigger="click"  
            hx-target="#main-standing"
            data-bs-toggle="modal"
            data-bs-target="#standings">
        <i class="fa-solid fa-ranking-star"></i>
    </button>
</div>