{% extends 'base.html' %}
{% load static %}
{% block container %}
  <div id="header">
    <h1 class="h1 text-center">South American Qualifying</h1>
    <h2 class="h3 text-center">Final Round</h2>
  </div>
  <div id="section">
    <div class="row ">
       <div class="col-md-6 offset-md-3">
           <div class="card card-border">
               <div class="soccer-card-header ">Teams</div>
               <div class="card-body">
                   <div class="row g-4 ">
                       <div class="col-md-6 offset-md-3">
                           {% for team in teams %}
                            <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{{ team.image_flag }}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       {{ team.nation_name }}
                                   </div>
                               </div>
                           </div>
                           {% endfor %}



                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
  </div>

{% endblock %}