asia/__pycache__/
africa/__pycache__/
ceno_america/__pycache__/
europa/__pycache__/
main/__pycache__/
oceania/__pycache__/
sudamerica/__pycache__/
PES2020RTWC/__pycache__/
*.pyc



*.pyc
docker/fixture-UEFA.json
sudamerica/__pycache__/views.cpython-310.pyc
*.pyc
*.pyc
*.pyc
*.pyc
