{% extends 'base.html' %}
{% load core_tags %}
{% load static %}
{% block container %}
    <div id="header">
        <h1>Copa America</h1>

    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="d-flex gap-3">
                <button type="button" class="btn btn-primary px-4 py-2 fw-bold" hx-get="{% url 'sudamerica.copaamerica.draw' %}"
                        hx-trigger="click" hx-target="body" data-loading-disable {% if teams|enable_draw_button:16 is True %} disabled {% endif %}>
                    <i class="fa-solid fa-shuffle me-2"></i>Draw
                </button>
                <button type="button" class="btn btn-outline-secondary px-4 py-2" hx-get="{% url 'sudamerica.copaamerica' %}"
                        hx-trigger="click"
                        hx-target="body" data-loading-disable>
                    <i class="fa-solid fa-rotate-left me-2"></i>Clear
                </button>
                <button type="button" class="btn btn-outline-primary px-4 py-2"
                        data-action="download-image"
                        data-target-div="copa-america"
                        data-file-name="copa-america.jpg"
                        title="Download Draw Image">
                    <i class="fa-solid fa-download me-2"></i>Download Image
                </button>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="container-card-wc">
                    {% include "utils/list/team-list.html" with teams=teams %}
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div id="copa-america" class="container-card-wc">
                    <div class="soccer-card-header">
                        <i class="fa-solid fa-trophy me-2"></i>Draw
                    </div>

                    <div class="soccer-card-body overflow-auto h-75">

                        <div class="loading-grid" data-loading-aria-busy data-loading="flex">
                            {% include "utils/loader/loader.html" %}

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row g-3 mb-5">
                                <div class="col-12 col-md-6 mb-3">
                                    {% if zoneA is not None %}
                                        {% include "utils/groups/group-card.html" with group="A" zone=zoneA buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="A" iterator=range  buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {% if zoneB is not None %}
                                        {% include "utils/groups/group-card.html" with group="B" zone=zoneB buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="B" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row g-3 mb-5">
                                <div class="col-12 col-md-6 mb-3">
                                    {% if zoneC is not None %}
                                        {% include "utils/groups/group-card.html" with group="C" zone=zoneC buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="C" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {% if zoneD is not None %}
                                        {% include "utils/groups/group-card.html" with group="D" zone=zoneD buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="D" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Modals -->
    <div id="schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Fixtures"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="schedule-content"></div>
            </div>
        </div>

    </div>

    <div id="standings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Standings"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="stats-content"></div>
            </div>
        </div>

    </div>
{% endblock %}