{% extends 'base.html' %}
{% load static %}
{% block container %}
  <div id="header">
    <h1 class="h1 text-center">South American Qualifying</h1>
    <h2 class="h3 text-center">Final Round</h2>
  </div>
  <div id="section">
    <div class="row ">
       <div class="col-md-6 offset-md-3">
           <div class="card card-border">
               <div class="soccer-card-header ">Teams</div>
               <div class="card-body">
                   <div class="row g-4 ">
                       <div class="col-md-6 offset-md-3">
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/argentina.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Argentina
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/bolivia.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Bolivia
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/brasil.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Brasil
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/chile.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Chile
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/colombia.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Colombia
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/ecuador.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Ecuador
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/paraguay.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Paraguay
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/peru.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Peru
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/uruguay.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Uruguay
                                   </div>
                               </div>
                           </div>
                           <div class="team-card">
                               <div class="row">
                                   <div class="flag-config">
                                       <img src="{% static 'assets/images/flags/sudamerica/venezuela.svg' %}" class="flag-circle">
                                   </div>
                                   <div class="name-config">
                                       Venezuela
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
  </div>

{% endblock %}