{% extends 'base.html' %}
{% load static %}
{% block container %}
    <h1 class="h1 text-center">European Qualifiers</h1>
    <h4 class="h4 text-center">First Round</h4>
    <div class="row p-4">
        <div class="col-6 g-8 offset-md-5">
            <button type="button" class="btn btn-primary" hx-get=" {% url 'europa.firstround.draw' %}"
                    hx-trigger="click" hx-target="body">Draw
            </button>
            <button type="button" class="btn btn-primary" hx-get=" {% url 'europa.firstround' %}" hx-trigger="click"
                    hx-target="body">Clear
            </button>
        </div>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="card card-border">
                    <div class="soccer-card-header ">Teams</div>
                    <div class="soccer-card-body">
                        <div class="row g-1 ">
                            <div class="col-md-14 offset-md-2">
                                {% for team in teams %}
                                    <div class="team-card">
                                        <div class="row">
                                            <div class="flag-config">
                                                <img src="{{ team.image_flag }}" class="img-card flag-circle">
                                            </div>
                                            <div class="name-config">
                                                {{ team.nation_name }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="card card-border">
                    <div class="soccer-card-header">Qualify Zones</div>

                    <div class="soccer-card-body">

                        <div id="loading" class="col-md-5 offset-md-3" data-loading-aria-busy data-loading>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="card card-border offset-md-2">
                                        <div class="soccer-card-header">Zone A</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone1 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A4
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A5
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone1 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card-sm">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'UEFA' 'first' 'A' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'UEFA' 'first' 'A' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="card card-border offset-md-2">
                                        <div class="soccer-card-header">Zone B</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone2 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B4
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B5
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone2 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card-sm">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'UEFA' 'first' 'B' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'UEFA' 'first' 'B' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-10">
                                    <div class="card card-border offset-md-2">
                                        <div class="soccer-card-header">Wild Card Match</div>
                                        <div class="soccer-card-body ">
                                            <div class="row mb-3">
                                                <div class="col-5">
                                                    <select name="home" class="form-select"
                                                            hx-get="{% url 'europa.homewildcard' %}"
                                                            hx-trigger="change"
                                                            hx-target="body">
                                                        {% if zone1 is None %}
                                                            <option selected>Team 1</option>
                                                        {% else %}
                                                            <option selected>Team 1</option>
                                                            {% for team in zone1 %}
                                                                <option value="{{ team.id }}">
                                                                    {{ team.nation_name }}
                                                                </option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-2 justify-content-center">
                                                    {% with homeId=fixture.wildCard.match1.homeTeam.team.id awayId=fixture.wildCard.match1.awayTeam.team.id %}
                                                        {% url 'one_match' 'wildCard' 1 homeId awayId  'UEFA'  'first' 'WC' 1 as match %}
                                                        <button type="button" class="btn btn-primary"
                                                                hx-get="{{ match }}"
                                                                hx-trigger="click"
                                                                hx-target="body"
                                                        >
                                                            <i class="fa-regular fa-futbol"></i>
                                                        </button>
                                                    {% endwith %}
                                                </div>
                                                <div class="col-5">
                                                    <select name="away" class="form-select"
                                                            hx-get="{% url 'europa.awaywildcard' %}"
                                                            hx-trigger="change"
                                                            hx-target="body">
                                                        {% if zone2 is None %}
                                                            <option selected>Team 2</option>
                                                        {% else %}
                                                            <option selected>Team 2</option>
                                                            {% for team in zone2 %}
                                                                <option value="{{ team.id }}">
                                                                    {{ team.nation_name }}
                                                                </option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>


                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-4">
                                                    <div class="team-card-sm-fxt">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ fixture.wildCard.match1.homeTeam.team.image_flag }}"
                                                                     class="img-card-sm">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ fixture.wildCard.match1.homeTeam.team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-3">
                                                    {% with homePenalties=fixture.wildCard.match1.homeTeam.penalties awayPenalties=fixture.wildCard.match1.awayTeam.penalties %}
                                                    <h6>({% firstof homePenalties 0 %}) {{ fixture.wildCard.match1.homeTeam.goals|default_if_none:"N" }}
                                                        - {{ fixture.wildCard.match1.awayTeam.goals|default_if_none:"N" }} ({% firstof awayPenalties 0 %})</h6>
                                                    {% endwith %}

                                                </div>

                                                <div class="col-4">
                                                    <div class="team-card-sm-fxt">
                                                        <div class="row">
                                                            {% if fixture|getItem:'wildCard' is not None %}
                                                                <div class="flag-config">
                                                                    <img src="{{ fixture.wildCard.match1.awayTeam.team.image_flag }}"
                                                                         class="img-card-sm">
                                                                </div>
                                                                <div class="name-config">
                                                                    {{ fixture.wildCard.match1.awayTeam.team.nation_iso_code }}
                                                                </div>
                                                            {% else %}
                                                                Team 2
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- Modals -->
    <div id="schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Fixtures"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="schedule-content"></div>
            </div>
        </div>

    </div>

    <div id="standings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Standings"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="stats-content"></div>
            </div>
        </div>

    </div>

{% endblock %}