{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">World Cup</h1>
        <h4 class="h4 text-center">Playoffs</h4>
        <div class="row p-4">
            <div class="col-6 g-8 offset-md-5">
                <button type="button" class="btn btn-primary" hx-get=" {% url 'europa.playoff.draw' %}"
                        hx-trigger="click" hx-target="body" {% if teams|enableDrawButton:8 is True %}
                        disabled {% endif %}>Draw
                </button>
                <button type="button" class="btn btn-primary" hx-get=" {% url 'europa.playoff' %}" hx-trigger="click"
                        hx-target="body">Clear
                </button>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="container-card">
                    {% include "utils/list/team-list.html" with teams=teams %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-card">
                    <div class="soccer-card-header">Qualify Zones</div>

                    <div class="soccer-card-body overflow-scroll">

                        <div class="loading-grid" data-loading-aria-busy data-loading>
                            {% include "utils/loader/loader.html" %}

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row mb-5">
                                <div class="col-10 ">
                                    <div class="card card-border offset-md-4">
                                        <div class="soccer-card-header">First Stage</div>
                                        <div class="soccer-card-body">
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.euro.match1 matchNum=1 phase='euro' home_empty="Team 1" away_empty="Team 2" conf="UEFA" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.euro.match2 matchNum=2 phase='euro' home_empty="Team 3" away_empty="Team 4" conf="UEFA" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.euro.match3 matchNum=3 phase='euro' home_empty="Team 5" away_empty="Team 6" conf="UEFA" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.euro.match4 matchNum=4 phase='euro' home_empty="Team 7" away_empty="Team 8" conf="UEFA" %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>


                    </div>


                </div>

            </div>

        </div>

    </div>

{% endblock %}