{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">European Qualifying</h1>
        <h2 class="h3 text-center">Teams List</h2>
    </div>
    <div id="section">
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <div class="team-list-container-card">
                    <div class="soccer-card-header ">
                        <div class="row">
                            <div class="col-3">
                                <div class="input-group mb-3">
                                    <input class="form-control form-control-sm" type="search" onkeyup="searchTable()"
                                           id="searchInput" placeholder="Search...">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i
                                                class="fa-solid fa-magnifying-glass"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="offset-md-2 col-2">Teams</div>
                        </div>
                    </div>
                    <div class="soccer-card-body overflow-scroll">
                        <table id="tableTeams" class="table overflow-scroll">
                            <tbody>
                            <tr>
                                <th class="col text-center">
                                    Name
                                </th>
                                <th class="col">
                                    Draw
                                </th>
                                <th class="col">
                                    Playoff
                                </th>
                                <th class="col">
                                    F Rnd.
                                </th>
                                <th class="col">
                                    3 Rnd.
                                </th>
                                <th class="col">
                                    2 Rnd.
                                </th>
                                <th class="col">
                                    1 Rnd.
                                </th>
                            </tr>
                            {% for team in teams %}
                                <tr>
                                    <td class="col-5">
                                        <div class="row">
                                            <div class="flag-config-table">
                                                <img src="{{ team.image_flag }}" class="img-card">
                                            </div>
                                            <div class="name-config-table">
                                                {{ team.nation_name }}
                                            </div>
                                            <div class="name-config-table">
                                                {{ team.stage.maindraw }}
                                            </div>
                                        </div>

                                    </td>
                                    <td class="col-1">
                                        <div class="form-check form-check-inline">
                                            <input name="{{ team.nation_iso_code }}" class="form-check-input"
                                                   type="radio" value="mainDraw"
                                                   onclick="changeTeamStage('{{ team.nation_iso_code }}','mainDraw')"
                                                   {% if team.stage.mainDraw == True %}checked{% endif %}>
                                        </div>
                                    </td>
                                    <td class="col-1">
                                        <div class="form-check form-check-inline">
                                            <input name="{{ team.nation_iso_code }}" class="form-check-input"
                                                   type="radio" value="playoff"
                                                   onclick="changeTeamStage('{{ team.nation_iso_code }}','playoff')"
                                                   {% if team.stage.playoff == True %}checked{% endif %}>
                                        </div>
                                    </td>
                                    <td class="col-1">
                                        <div class="form-check form-check-inline">
                                            <input name="{{ team.nation_iso_code }}" class="form-check-input"
                                                   type="radio"
                                                   onclick="changeTeamStage('{{ team.nation_iso_code }}','finalRound')"
                                                   {% if team.stage.finalRound == True %}checked{% endif %}>
                                        </div>
                                    </td>
                                    <td class="col-1">
                                        <div class="form-check form-check-inline">
                                            <input name="{{ team.nation_iso_code }}" class="form-check-input"
                                                   type="radio"
                                                   onclick="changeTeamStage('{{ team.nation_iso_code }}','thirdRound')"
                                                   {% if team.stage.thirdRound == True %}checked{% endif %}>
                                        </div>
                                    </td>
                                    <td class="col-1">
                                        <div class="form-check form-check-inline">
                                            <input name="{{ team.nation_iso_code }}" class="form-check-input"
                                                   type="radio"
                                                   onclick="changeTeamStage('{{ team.nation_iso_code }}','secondRound')"
                                                   {% if team.stage.secondRound == True %}checked{% endif %}>
                                        </div>
                                    </td>
                                    <td class="col-1">
                                        <div class="form-check form-check-inline">
                                            <input name="{{ team.nation_iso_code }}" class="form-check-input"
                                                   type="radio"
                                                   onclick="changeTeamStage('{{ team.nation_iso_code }}','firstRound')"
                                                   {% if team.stage.firstRound == True %}checked{% endif %}>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}