{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">European Qualifiers</h1>
        <h2 class="h3 text-center">Third Round</h2>
    </div>
    <div class="row p-4">
        <div class="col-6 g-8 offset-md-5">
            <button type="button" class="btn btn-primary" hx-get=" {% url 'europa.thirdround.draw' %}"
                    hx-trigger="click" hx-target="body">Draw
            </button>
            <button type="button" class="btn btn-primary" hx-get=" {% url 'europa.thirdround' %}" hx-trigger="click"
                    hx-target="body">Clear
            </button>
        </div>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="card card-border">
                    <div class="soccer-card-header ">Teams</div>
                    <div class="soccer-card-body h-75">
                        <div class="row g-1 ">
                            <div class="col-md-14 offset-md-2">
                                {% for team in teams %}
                                    <div class="team-card">
                                        <div class="row">
                                            <div class="flag-config">
                                                <img src="{{ team.image_flag }}" class="img-card flag-circle">
                                            </div>
                                            <div class="name-config">
                                                {{ team.nation_name }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="card card-border">
                    <div class="soccer-card-header">Qualify Zones</div>

                    <div class="soccer-card-body h-75">
                        <div class="row mb-5">
                            <div class="col-md-5">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone A</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone1 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        A1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        A2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        A3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone1 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone B</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone2 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        B1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        B2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        B3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone2 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-5">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone C</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone3 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        C1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        C2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        C3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone3 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone D</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone4 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        D1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        D2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        D3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone4 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-5">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone E</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone5 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        E1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        E2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        E3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone5 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone F</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone1 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        F1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        F2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        F3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone6 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-5">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone G</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone7 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        F1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        F2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        F3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone7 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Zone H</div>
                                    <div class="soccer-card-body offset-md-2">
                                        {% if zone8 is None %}
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        H1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        H2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-card">
                                                <div class="row">
                                                    <div class="flag-config"></div>
                                                    <div class="name-config">
                                                        H3
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for team in zone8 %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config">
                                                            <img src="{{ team.image_flag }}" class="img-card-sm">
                                                        </div>
                                                        <div class="name-config">
                                                            {{ team.nation_iso_code }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}