{% extends 'base.html' %}
{% load core_tags %}
{% load static %}
{% block container %}
    <div id="header">
        <h1>Oceanic Qualifiers</h1>
        <h2>Final Round</h2>
    </div>

    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="d-flex gap-3">
                <button type="button" class="btn btn-primary px-4 py-2 fw-bold" hx-get="{% url 'oceania.finalround.draw' %}"
                        hx-trigger="click" hx-target="body" data-loading-disable {% if teams|enable_draw_button:8 is True %} disabled {% endif %}>
                    <i class="fa-solid fa-shuffle me-2"></i>Draw
                </button>
                <button type="button" class="btn btn-outline-secondary px-4 py-2" hx-get="{% url 'oceania.finalround' %}" hx-trigger="click"
                        hx-target="body" data-loading-disable>
                    <i class="fa-solid fa-rotate-left me-2"></i>Clear
                </button>
            </div>
        </div>
    </div>

    <div id="section">

        <div class="row ">
            <div class="col-md-3">
                <div class="container-card-wc">
                    {% include 'utils/list/team-list.html' with teams=teams %}
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="container-card-wc">
                    <div class="soccer-card-header">
                        <i class="fa-solid fa-trophy me-2"></i>Qualify Zones
                    </div>

                    <div class="soccer-card-body overflow-auto">

                        <div class="loading-grid" data-loading-aria-busy data-loading="flex">
                            {% include "utils/loader/loader.html" %}
                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    {% if zoneA is not None %}
                                        {% include "utils/groups/group-card.html" with conf="OFC" round="final" group="A" zone=zoneA buttons=True %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="A" iterator=range  buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    {% if zoneB is not None %}
                                        {% include "utils/groups/group-card.html" with conf="OFC" round="final" group="B" zone=zoneB buttons=True %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="B" iterator=range  buttons=False %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-5 justify-content-center">
                                <div class="col-10">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Main Draw Match</div>
                                        <div class="soccer-card-body " data-loading-states>
                                            <div class="row mb-3">
                                                <div class="col-5">
                                                    {% include "utils/one_matches/team_select.html" with zone=zoneA url_select='oceania.homemainDraw' selected_team=fixture.mainDraw.match1.homeTeam.team.nation_name label="Home Team" %}
                                                </div>
                                                <div class="col-2 d-flex align-items-center justify-content-center">
                                                    {% with homeId=fixture.mainDraw.match1.homeTeam.team.nation_iso_code awayId=fixture.mainDraw.match1.awayTeam.team.nation_iso_code %}
                                                        {% url 'one_match' 'mainDraw' 1 homeId awayId  'OFC'  'final' 'MD' 1 as match %}
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                                hx-get="{{ match }}"
                                                                hx-trigger="click"
                                                                hx-target="body" data-loading-disable
                                                                {% if fixture.mainDraw.match1.played is True %}
                                                                disabled {% endif %}
                                                                title="Play Match"
                                                        >
                                                            <i class="fa-solid fa-play"></i>
                                                        </button>
                                                    {% endwith %}
                                                </div>
                                                <div class="col-5">
                                                    {% include "utils/one_matches/team_select.html" with zone=zoneB url_select='oceania.awaymainDraw' selected_team=fixture.mainDraw.match1.awayTeam.team.nation_name label="Away Team" %}
                                                </div>


                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-4">
                                                    {% if fixture|get_item:'mainDraw' is not None %}
                                                        {% include 'utils/fixture/home-card.html' with match=fixture.mainDraw.match1 %}
                                                    {% else %}
                                                        {% include 'utils/fixture/empty-card.html' with team='Team 1' %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-4 text-center">
                                                    <div data-loading-aria-busy data-loading="flex" class="justify-content-center align-items-center">
                                                       <h3 class="m-0 scr_style">
                                                            <span class="penalty-score opacity-25">( )</span>
                                                            <i class="fa-solid fa-futbol fa-spin text-info mx-2"></i>
                                                            <span class="penalty-score opacity-25">( )</span>
                                                        </h3>
                                                    </div>


                                                    <div data-loading-aria-busy data-loading-class="d-none" class="d-flex justify-content-center">
                                                        {% with homePenalties=fixture.mainDraw.match1.homeTeam.penalties awayPenalties=fixture.mainDraw.match1.awayTeam.penalties %}
                                                            <h3 class="m-0 scr_style">
                                                                <span class="penalty-score">({% firstof homePenalties 0 %})</span>
                                                                {{ fixture.mainDraw.match1.homeTeam.goals|default_if_none:"?" }}
                                                                <span class="opacity-25 mx-1">-</span>
                                                                {{ fixture.mainDraw.match1.awayTeam.goals|default_if_none:"?" }}
                                                                <span class="penalty-score">({% firstof awayPenalties 0 %})</span>
                                                            </h3>
                                                        {% endwith %}

                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    {% if fixture|get_item:'mainDraw' is not None %}
                                                        {% include 'utils/fixture/away-card.html' with match=fixture.mainDraw.match1 %}
                                                    {% else %}
                                                        {% include 'utils/fixture/empty-card.html' with team='Team 2' %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>

    
    </div>

   
{% endblock %}