{% load static %}
{% block modal_content %}
     <div class="modal-header">
        <h5 class="modal-title">Standings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fa-regular fa-whistle"></i>
        </button>
        <button type="button" class="btn btn-primary">
            <i class="fa-regular fa-floppy-disks"></i>
        </button>
      </div>
{% endblock %}