{% load static %}
{% block modal_content %}
    <div class="modal-header">
        <h5 class="modal-title">Standings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row ">
            <div class="col-12">
                <div class="card card-border">
                    <div class="soccer-card-header ">Teams</div>

                    <div class="soccer-card-body overflow-scroll mh-75">

                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col text-center">
                                    Pos
                                </th>
                                <th class="col text-center">
                                    Name
                                </th>
                                {% comment %}<th class="col">
                                    PJ
                                </th>{% endcomment %}
                                <th class="col">
                                    Pts.
                                </th>
                                <th class="col">
                                    GF
                                </th>
                                <th class="col">
                                    GC
                                </th>
                                <th class="col">
                                    GL
                                </th>
                                <th class="col">
                                    GV
                                </th>
                                <th class="col">
                                    Dif.
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for team, i, p in teams %}

                                <tr>
                                    {% if p == 'Q' %}

                                        <td class="bg-success col-1 text-center">
                                            <h5>{{ i }}</h5>
                                        </td>
                                    {% elif p == 'P' %}
                                        <td class=" bg-warning col-1 text-center">
                                            <h5>{{ i }}</h5>
                                        </td>
                                    {% else %}
                                        <td class="col-1 text-center">
                                            <h5>{{ i }}</h5>
                                        </td>
                                    {% endif %}


                                    <td class="col-6">
                                        <div class="row">
                                            <div class="flag-config-table">
                                                <img src="{{ team.team.image_flag }}" class="img-card">
                                            </div>
                                            <div class="name-config-table">
                                                {{ team.team.nation_name }}
                                            </div>

                                        </div>

                                    </td>
                                    {% comment %}<td class="col-1">
                                       {{ team.matches }}
                                    </td>{% endcomment %}
                                    <td class="col-1">
                                        <h5>{{ team.points }}</h5>
                                    </td>
                                    <td class="col-1">
                                        {{ team.favor }}
                                    </td>
                                    <td class="col-1">
                                        {{ team.against }}
                                    </td>
                                    <td class="col-1">
                                        {{ team.local }}
                                    </td>
                                    <td class="col-1">
                                        {{ team.away }}
                                    </td>
                                    <td class="col-1">
                                        {{ team.difference }}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
{% endblock %}