// Required
@import "bootstrap5/scss/functions";

// Default variable overrides


// Required
@import "bootstrap5/scss/bootstrap";
@import "bootstrap5/scss/variables";
@import "bootstrap5/scss/maps";
@import "bootstrap5/scss/mixins";
@import "bootstrap5/scss/root";

// Optional Bootstrap components here
@import "bootstrap5/scss/reboot";
@import "bootstrap5/scss/type";

nav, .dropdown-menu, .card-header, {
  background-color: dodgerblue;
}

.nav-link, .dropdown-item, .card-title{
  color: whitesmoke;
}

.card-border{
  @extend .card;
  border-color: dodgerblue;
  border-style: solid;
}

img{

  max-width: 150%;

}

.soccer-card-header{
 @extend .card-header;
 @extend .card-title;
 @extend .text-center
}

.flag-config{
  @extend .m-1;
  @extend .col-md-2;
  @extend .justify-content-center;

}
.name-config{
  @extend .m-1;
  @extend .col-md-8;
  @extend .text-center
}

.flag-circle {
  @extend .rounded-circle;

}

.team-card{
  @extend .card;
  @extend .mb-1;
}