{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
         <h1 class="h1 text-center">African Qualifiers</h1>
         <h2 class="h3 text-center">Second Round</h2>
    </div>

    <div id="section">
        <div class="row ">
           <div class="col-md-3">
               <div class="card card-border">
                   <div class="soccer-card-header ">Teams</div>
                   <div class="soccer-card-body">
                       <div class="row g-1 ">
                           <div class="col-md-14 offset-md-2">
                              {% for team in teams %}
                                   <div class="team-card">
                                    <div class="row">
                                        <div class="flag-config">
                                            <img src="{{ team.image_flag }}" class="img-card flag-circle">
                                        </div>
                                        <div class="name-config">
                                            {{ team.nation_name }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                       </div>
                   </div>
               </div>
           </div>
                </div>
             <div class="col-md-7 offset-md-1">
                           <div class="card card-border">
                               <div class="soccer-card-header">Qualify Zones</div>

                                   <div class="soccer-card-body">
                                       <div class="row mb-5">
                                           <div class="col-md-5">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone A</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                            <div class="col-md-5 offset-md-1">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone B</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B4
                                                               </div>
                                                           </div>
                                                       </div>

                                                   </div>
                                               </div>
                                            </div>
                                       </div>

                                       <div class="row">
                                           <div class="col-md-5 mb-5">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone C</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                            <div class="col-md-5 offset-md-1">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone D</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                       </div>
                                       <div class="row">
                                           <div class="col-md-5  offset-sm-3">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone E</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   E1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   E2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   E3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   E4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                       </div>

                                   </div>

                           </div>

            </div>

        </div>
  </div>
{% endblock %}