{% load core_tags %}

<div class="team-card-sm">
    <div class="row g-0 align-items-center">
        {% result_one_match_home match as homeborder %}
        <div class="col-3 d-flex justify-content-center">
            {% if match.homeTeam.team.image_flag %}
                <img src="{{ match.homeTeam.team.image_flag }}"
                     class="img-card {{ homeborder }} my-1" alt="{{ match.homeTeam.team.nation_name }}">
            {% else %}
                <div class="img-card {{ homeborder }} my-1 d-flex align-items-center justify-content-center bg-light">
                    <i class="fa-solid fa-flag text-secondary opacity-50"></i>
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            <div class="name-config-sm m-0">
                {{ match.homeTeam.team.nation_name }}
            </div>
        </div>
        <div class="col-3">
            <div class="goal m-0 text-center">
                {{ match.homeTeam.goals|default_if_none:"?" }}
                <span class="penalty-score">({% firstof match.homeTeam.penalties 0 %})</span>
            </div>
        </div>
    </div>
</div>