{% load core_tags %}

<div class="team-card-sm">
    <div class="row g-0 align-items-center">
        {% result_one_match_home match as homeborder %}
        <div class="col-7">
            <div class="name-config-sm m-0 justify-content-end text-end fw-bold">
                {{ match.homeTeam.team.nation_iso_code }}
            </div>
        </div>
        <div class="col-5 d-flex justify-content-center">
            {% if match.homeTeam.team.image_flag %}
                <div class="flag-wrapper-sm">
                    <img src="{{ match.homeTeam.team.image_flag }}"
                         class="img-card {{ homeborder }} my-1" alt="{{ match.homeTeam.team.nation_name }}">
                </div>
            {% else %}
                <div class="flag-wrapper-sm">
                    <div class="img-card {{ homeborder }} my-1 d-flex align-items-center justify-content-center bg-light">
                        <i class="fa-solid fa-flag text-secondary opacity-50"></i>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>