<div class="row">
    <div class="col-3 w-75">
        {% if matchNum is not None %}
            <h6 class="h-6 text-center"> Match {{ matchNum }}</h6>
        {% endif %}
        {% if not match %}            
                {% include "utils/playoff/team-card-empty.html" with desc=home_empty %}           
        {% else %}
            <div class="col">
                {% include "utils/playoff/home-card.html" %}
            </div>
        {% endif %}
        {% if not match %}            
                {% include "utils/playoff/team-card-empty.html" with desc=away_empty %}           
        {% else %}
            <div class="col">
                {% include "utils/playoff/away-card.html" %}

            </div>

        {% endif %}
    </div>
    <div class="playoff-button">
        {% with homeId=match.homeTeam.team.nation_iso_code awayId=match.awayTeam.team.nation_iso_code %}
            {% url 'one_match' phase matchNum homeId awayId  'FIFA'  'playoff' 'P' 1 as matchSim %}
            <button type="button" class="btn btn-primary"
                    hx-get="{{ matchSim }}"
                    hx-trigger="click"
                    hx-target="body"
                    data-loading-disable
                    {% if match.played is True %}
                    disabled {% endif %}>
                <div data-loading-aria-busy data-loading>
                    <div class="spinner-border spinner-border-sm text-light "></div>
                </div>
                <div data-loading-aria-busy data-loading-class="d-none">
                    <i class="fa-regular fa-futbol"></i>
                </div>
            </button>
        {% endwith %}
    </div>
</div>