{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">World Cup</h1>
        <h4 class="h4 text-center">Group Stage</h4>
        <div class="row ">
            <div class="col-conf">
                <div class="group-card-conf">
                    <div class="soccer-card-header">
                        CONMEBOL
                    </div>
                    <div class="soccer-card-body text-center">
                        <div class="h3">
                            {{ teams|teamsByConf:'CONMEBOL' }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-conf ">
                <div class="group-card-conf">
                    <div class="soccer-card-header">
                        UEFA
                    </div>
                    <div class="soccer-card-body text-center">
                        <div class="h3">
                            {{ teams|teamsByConf:'UEFA' }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-conf">
                <div class="group-card-conf">
                    <div class="soccer-card-header">
                        CONCACAF
                    </div>
                    <div class="soccer-card-body text-center">
                        <div class="h3">
                            {{ teams|teamsByConf:'CONCACAF' }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-conf ">
                <div class="group-card-conf">
                    <div class="soccer-card-header">
                        OFC
                    </div>
                    <div class="soccer-card-body text-center">
                        <div class="h3">
                            {{ teams|teamsByConf:'OFC' }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-conf ">
                <div class="group-card-conf">
                    <div class="soccer-card-header">
                        CAF
                    </div>
                    <div class="soccer-card-body text-center">
                        <div class="h3">
                            {{ teams|teamsByConf:'CAF' }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-conf">
                <div class="group-card-conf">
                    <div class="soccer-card-header">
                        AFC
                    </div>
                    <div class="soccer-card-body text-center">
                        <div class="h3">
                            {{ teams|teamsByConf:'AFC' }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-6 g-8 offset-md-5">
                <button type="button" class="btn btn-primary" hx-get=" {% url 'worldcup.draw' %}" hx-trigger="click"
                        hx-target="body" {% if teams|enableDrawButton:32 is True  %} disabled {% endif %}>Draw
                </button>
                <button type="button" class="btn btn-primary" hx-get=" {% url 'worldcup.maindraw' %}" hx-trigger="click"
                        hx-target="body">Clear
                </button>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="row p-2">
            <div class="col-md-3">
                <div class="container-card-wc">
                    <div class="soccer-card-header ">Teams</div>
                    <div class="soccer-card-body overflow-auto">
                        <div class="row g-1 ">
                            <div class="offset-md-1">
                                {% for team in teams %}
                                    <div class="team-card-list">
                                        <div class="row">
                                            <div class="flag-config">
                                                <img src="{{ team.image_flag }}" class="img-card flag-circle">
                                            </div>
                                            <div class="name-config">
                                                {{ team.nation_name }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="container-card-wc">
                    <div class="soccer-card-header">Main Draw</div>

                    <div class="soccer-card-body overflow-auto">

                        <div class="loading-grid-playoff" data-loading-aria-busy data-loading>
                            <div class="display-6">Sorteando</div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group A</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneA is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneA %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group B</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneB is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneB %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group C</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneC is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneC %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group D</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneD is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneD %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group E</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneE is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneE %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group F</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneF is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            F1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            F2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            F3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            F4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneF %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group G</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneG is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            G1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            G2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            G3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            G4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneG %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group H</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zoneH is None %}
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            H1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            H2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            H3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row row-cols-auto">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            H4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zoneH %}
                                                    <div class="team-card">
                                                        <div class="row row-cols-auto">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}