{% extends 'base.html' %}
{% load core_tags %}
{% load static %}
{% block container %}

    <div id="header">
        <h1>World Cup</h1>
        <h2>Group Stage</h2>
    </div>

    <div class="row justify-content-center g-2 mb-2">
            {% for conf in confederations %}
                <div class="col-conf">
                    <div class="group-card-conf">
                        <div class="soccer-card-header">{{ conf }}</div>
                        <div class="soccer-card-body text-center">
                            <div class="h3">
                                {{ teams|teams_by_conf:conf }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row mb-1">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="d-flex gap-3">
                    <button type="button" class="btn btn-primary btn-sm px-3 py-1 fw-bold"
                            hx-get="{% url 'worldcup.draw' %}" hx-trigger="click" hx-target="body" data-loading-disable
                            {% if teams|enable_draw_button:32 is True %} disabled {% endif %}>
                        <i class="fa-solid fa-shuffle me-2"></i>Draw
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm px-3 py-1" 
                            hx-get="{% url 'worldcup.maindraw' %}"
                            hx-trigger="click" hx-target="body" data-loading-disable>
                        <i class="fa-solid fa-rotate-left me-2"></i>Clear
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-sm px-3 py-1"
                            data-action="download-image"
                            data-target-div="wc-maindraw"
                            data-file-name="world_cup"
                            title="Download Draw Image">
                        <i class="fa-solid fa-download me-2"></i>Download Image
                    </button>
                </div>
            </div>
        </div>

        <div id="section">
        <div class="row p-1">
            <div class="col-md-3">
                <div class="container-card-wc">
                    {% include "utils/list/team-list.html" with teams=teams %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="wc-maindraw" class="container-card-wc">
                    <div class="soccer-card-header">
                        <i class="fa-solid fa-trophy me-2"></i>Main Draw
                    </div>

                    <div class="soccer-card-body overflow-auto">

                        <div class="loading-grid" data-loading-aria-busy data-loading="flex">
                            {% include "utils/loader/loader.html" %}

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row g-2 mb-2">
                                <div class="col-md-3">
                                    {% if zoneA is not None %}
                                        {% include "utils/groups/group-card.html" with group="A" zone=zoneA buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="A" iterator=range  buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if zoneB is not None %}
                                        {% include "utils/groups/group-card.html" with group="B" zone=zoneB buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="B" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if zoneC is not None %}
                                        {% include "utils/groups/group-card.html" with group="C" zone=zoneC buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="C" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if zoneD is not None %}
                                        {% include "utils/groups/group-card.html" with group="D" zone=zoneD buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="D" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row g-2 mb-2">
                                <div class="col-md-3">
                                    {% if zoneE is not None %}
                                        {% include "utils/groups/group-card.html" with group="E" zone=zoneE buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="E" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if zoneF is not None %}
                                        {% include "utils/groups/group-card.html" with group="F" zone=zoneF buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="F" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if zoneG is not None %}
                                        {% include "utils/groups/group-card.html" with group="G" zone=zoneG buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="G" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if zoneH is not None %}
                                        {% include "utils/groups/group-card.html" with group="H" zone=zoneH buttons=False %}
                                    {% else %}
                                        {% include "utils/groups/group-card.html" with group="H" iterator=range buttons=False %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}