{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">World Cup</h1>
        <h2 class="h3 text-center">Playoff</h2>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="card card-border">
                    <div class="soccer-card-header ">Teams</div>
                    <div class="soccer-card-body h-75">
                        <div class="row g-1 ">
                            <div class="col-md-14 offset-md-2">
                               {% for team in teams %}
                                   <div class="team-card">
                                    <div class="row">
                                        <div class="flag-config">
                                            <img src="{{ team.image_flag }}" class="img-card flag-circle">
                                        </div>
                                        <div class="name-config">
                                            {{ team.nation_name }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-border">
                    <div class="soccer-card-header">Qualify Zones</div>

                    <div class="soccer-card-body h-75">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">First Stage</div>
                                    <div class="soccer-card-body offset-md-2">
                                        <div class="p-3">
                                            <h6 class="h-6 text-center"> Match 1</h6>
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A2
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                         <div class="p-3">
                                             <h6 class="h-6 text-center"> Match 2</h6>
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A2
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                         <div class="p-3">
                                             <h6 class="h-6 text-center"> Match 3</h6>
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A2
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                         <div class="p-3">
                                             <h6 class="h-6 text-center"> Match 4</h6>
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    A2
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="card card-border offset-md-2">
                                    <div class="soccer-card-header">Final Stage</div>
                                    <div class="soccer-card-body offset-md-2">
                                       <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    Match 1
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                       <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    Match 2
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    Match 3
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    Match 4
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B2
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B2
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B2
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="p-3">
                                            <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-card">
                                            <div class="row">
                                                <div class="flag-config"></div>
                                                <div class="name-config">
                                                    B2
                                                </div>
                                            </div>
                                        </div>
                                       </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                            </div>



                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}