{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">World Cup</h1>
        <h4 class="h4 text-center">Playoffs</h4>
        <div class="row p-4">
            <div class="col-6 g-8 offset-md-5">
                <button type="button" class="btn btn-primary" hx-get=" {% url 'worldcup.playoff.draw' %}"
                        hx-trigger="click" hx-target="body" {% if teams|enableDrawButton:18 is True %}
                        disabled {% endif %}>Draw
                </button>
                <button type="button" class="btn btn-primary" hx-get=" {% url 'worldcup.playoff' %}" hx-trigger="click"
                        hx-target="body">Clear
                </button>
            </div>
        </div>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="container-card">
                    {% include "utils/list/team-list.html" with teams=teams %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-card">
                    <div class="soccer-card-header">Qualify Zones</div>

                    <div class="soccer-card-body overflow-scroll">

                        <div class="loading-grid" data-loading-aria-busy data-loading>
                            {% include "utils/loader/loader.html" %}

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <div class="card card-border offset-md-2">
                                        <div class="soccer-card-header">First Stage</div>
                                        <div class="soccer-card-body">
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.first.match1 matchNum=1 phase='first' home_empty="Team 1" away_empty="Team 2" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.first.match2 matchNum=2 phase='first' home_empty="Team 3" away_empty="Team 4" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.first.match3 matchNum=3 phase='first' home_empty="Team 5" away_empty="Team 6" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.first.match4 matchNum=4 phase='first' home_empty="Team 7" away_empty="Team 8" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.first.match5 matchNum=5 phase='first' home_empty="Team 9" away_empty="Team 10" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.first.match6 matchNum=6 phase='first' home_empty="Team 11" away_empty="Team 12" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="card card-border offset-md-2">
                                        <div class="soccer-card-header">Final Stage</div>
                                        <div class="soccer-card-body">
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.final.match1 matchNum=1  phase='final' home_empty="Seed 1" away_empty=" Match 1" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.final.match2 matchNum=2 phase='final' home_empty="Seed 2" away_empty=" Match 2" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.final.match3 matchNum=3  phase='final' home_empty="Seed 3" away_empty=" Match 3" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.final.match4 matchNum=4  phase='final' home_empty="Seed 4" away_empty=" Match 4" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.final.match5 matchNum=5  phase='final' home_empty="Seed 5" away_empty=" Match 5" %}
                                            </div>
                                            <div class="p-2" data-loading-states>
                                                {% include "utils/playoff/match-card.html" with match=fixture.final.match6 matchNum=6  phase='final' home_empty="Seed 6" away_empty=" Match 6" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>


                </div>

            </div>

        </div>

    </div>

{% endblock %}