{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
         <h1 class="h1 text-center">Asian Qualifiers</h1>
         <h2 class="h3 text-center">Final Round</h2>
    </div>

    <div id="section">
        <div class="row ">
           <div class="col-md-3">
               <div class="card card-border">
                   <div class="soccer-card-header ">Teams</div>
                   <div class="soccer-card-body">
                       <div class="row g-1 ">
                           <div class="col-md-14 offset-md-2">
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/noruega.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Noruega
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/irlanda_norte.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Irlanda N.
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/islandia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Islandia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/escocia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Escocia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/grecia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Grecia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/finlandia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Finlandia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/bosnia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Bosnia y Herz.
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/eslovenia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Eslovenia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/montenegro.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Montenegro
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/macedonia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Macedonia N.
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/albania.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Albania
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/bulgaria.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Bulgaria
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/israel.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Israel
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/belorrusia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Bielorrusia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/georgia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Georgia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/luxemburgo.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Luxemburgo
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/armenia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Armenia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/chipre.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Chipre
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/islasferoe.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Islas Feroe
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/estonia.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Estonia
                                       </div>
                                   </div>
                               </div>
                               <div class="team-card">
                                   <div class="row">
                                       <div class="flag-config">
                                           <img src="{% static 'assets/images/flags/europa/azerbaijan.svg' %}" class="flag-circle">
                                       </div>
                                       <div class="name-config">
                                           Azerbaiyan
                                       </div>
                                   </div>
                               </div>
                       </div>
                   </div>
               </div>
           </div>
                </div>
             <div class="col-md-7 offset-md-1">
                           <div class="card card-border">
                               <div class="soccer-card-header">Qualify Zones</div>

                                   <div class="soccer-card-body">
                                       <div class="row mb-5">
                                           <div class="col-md-5">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone A</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   A4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                            <div class="col-md-5 offset-md-1">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone B</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   B4
                                                               </div>
                                                           </div>
                                                       </div>

                                                   </div>
                                               </div>
                                            </div>
                                       </div>

                                       <div class="row">
                                           <div class="col-md-5 mb-5">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone C</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   C4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                            <div class="col-md-5 offset-md-1">
                                               <div class="card card-border offset-md-2">
                                                   <div class="soccer-card-header">Zone D</div>
                                                   <div class="soccer-card-body offset-md-2">
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D1
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D2
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D3
                                                               </div>
                                                           </div>
                                                       </div>
                                                       <div class="team-card">
                                                           <div class="row">
                                                               <div class="flag-config"></div>
                                                               <div class="name-config">
                                                                   D4
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                       </div>

                                   </div>

                           </div>

            </div>

        </div>
  </div>
{% endblock %}