{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div id="header">
        <h1 class="h1 text-center">Asian Qualifiers</h1>
        <h2 class="h3 text-center">Third Round</h2>
    </div>
    <div class="row p-4">
        <div class="col-6 g-8 offset-md-5">
            <button type="button" class="btn btn-primary" hx-get=" {% url 'asia.thirdround.draw' %}"
                    hx-trigger="click" hx-target="body" {% if teams|enableDrawButton:24 is True  %} disabled {% endif %}>Draw
            </button>
            <button type="button" class="btn btn-primary" hx-get=" {% url 'asia.thirdround' %}" hx-trigger="click"
                    hx-target="body">Clear
            </button>
        </div>
    </div>

    <div id="section">
        <div class="row ">
            <div class="col-md-3">
                <div class="container-card">
                    <div class="soccer-card-header ">Teams</div>
                    <div class="soccer-card-body overflow-scroll">
                        <div class="row g-1 ">
                            <div class=" offset-md-1">
                                {% for team in teams %}
                                    <div class="team-card-list">
                                        <div class="row">
                                            <div class="flag-config">
                                                <img src="{{ team.image_flag }}" class="img-card flag-circle">
                                            </div>
                                            <div class="name-config">
                                                {{ team.nation_name }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="container-card">
                    <div class="soccer-card-header">Qualify Zones</div>

                    <div class="soccer-card-body overflow-scroll">

                        <div class="loading-grid" data-loading-aria-busy data-loading>
                            <div class="display-6">Sorteando</div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-info"></div>

                        </div>

                        <div data-loading-aria-busy data-loading-class="d-none">
                            <div class="row mb-5">
                                <div class="col-md-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group A</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone1 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone1 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'AFC' 'third' 'A' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'AFC' 'third' 'A' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group B</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone2 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            B4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone2 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'AFC' 'third' 'B' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'AFC' 'third' 'B' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 mb-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group C</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone3 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            C4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone3 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'AFC' 'third' 'C' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'AFC' 'third' 'C' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group D</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone4 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            D4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone4 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'AFC' 'third' 'D' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'AFC' 'third' 'D' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group E</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone5 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            E4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone5 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'AFC' 'third' 'E' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'AFC' 'third' 'E' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="group-card">
                                        <div class="soccer-card-header">Group F</div>
                                        <div class="soccer-card-body offset-md-2">
                                            {% if zone6 is None %}
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A3
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-card">
                                                    <div class="row">
                                                        <div class="flag-config"></div>
                                                        <div class="name-config">
                                                            A4
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% for team in zone6 %}
                                                    <div class="team-card">
                                                        <div class="row">
                                                            <div class="flag-config">
                                                                <img src="{{ team.image_flag }}" class="img-card">
                                                            </div>
                                                            <div class="name-config">
                                                                {{ team.nation_iso_code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row p-1">
                                            <div class="col g-1 offset-md-4">
                                                {% url 'zones.fixtures' 'AFC' 'third' 'F' as fixtures %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ fixtures }} "
                                                        hx-trigger="click" hx-target="#schedule-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#schedule">
                                                    <i class="fa-regular fa-calendar"></i>
                                                </button>
                                                {% url 'zones.standings' 'AFC' 'third' 'F' as standings %}
                                                <button type="button" class="btn btn-primary"
                                                        hx-get="{{ standings }}"
                                                        hx-trigger="click" hx-target="#stats-content"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#standings">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>


    <!-- Modals -->
    <div id="schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Fixtures"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div id="schedule-content"></div>
            </div>
        </div>

    </div>

    <div id="standings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Standings"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="stats-content"></div>
            </div>
        </div>

    </div>
{% endblock %}