<div class="team-card-list">
    <div class="row g-0 align-items-center">
        <div class="col-4 d-flex justify-content-center">
            {% if team.image_flag %}
                <div class="flag-wrapper">
                    <img src="{{ team.image_flag }}" class="img-card flag-circle my-1">
                </div>
            {% else %}
                <div class="flag-wrapper">
                    <div class="img-card flag-circle flag-missing my-1">
                        <i class="fa-solid fa-flag"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-8">
            <div class="name-config text-start m-0">
                {{ team.nation_name }}
            </div>
        </div>
    </div>
</div>